{% extends "layout.html" %}

{% block title %}О проекте{% endblock %}

{% block content %}
    <h1>О нашем проекте</h1>
    <p>Это учебный проект для изучения DevOps.</p>
    
    <h2>Что мы уже изучили:</h2>
    <ul>
        <li>Основные команды Linux</li>
        <li>Права доступа и пользователи</li>
        <li>Установка ПО через apt</li>
        <li>Работа с процессами</li>
        <li>Написание Python приложения</li>
    </ul>
    
    <h2>Стек технологий:</h2>
    <ul>
        <li>OS: Ubuntu Server</li>
        <li>Web: Python + Flask</li>
        <li>Version control: Git (скоро)</li>
    </ul>
{% endblock %}
