{% extends "layout.html" %}

{% block title %}Информация о системе{% endblock %}

{% block content %}
    <h1>Информация о сервере</h1>
    
    <table border="1" style="width:100%; border-collapse: collapse;">
        <tr>
            <th style="padding: 10px;">Параметр</th>
            <th style="padding: 10px;">Значение</th>
        </tr>
        <tr>
            <td>Hostname</td>
            <td>{{ info.hostname }}</td>
        </tr>
        <tr>
            <td>Операционная система</td>
            <td>{{ info.os }}</td>
        </tr>
        <tr>
            <td>Python версия</td>
            <td>{{ info.python_version }}</td>
        </tr>
        <tr>
            <td>Текущая директория</td>
            <td>{{ info.current_dir }}</td>
        </tr>
        <tr>
            <td>Пользователь</td>
            <td>{{ info.user }}</td>
        </tr>
    </table>
{% endblock %}
